@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  font-family: 'Roboto';
}

.todo {
  display: flex;
  flex-direction: column;
}

.done {
  margin-top: 15px;
}

.container {
  margin-top: 100px;
}

.controls {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.button {
  margin-top: 10px;
}

.card {
  margin-top: 30px;
}
